/* public/style.css (CSS - Optional)
/* Add your CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
    font-family: "Poppins", serif !important;
    min-height: 100dvh;
    position: relative;
}
#qrcode {
    margin-top: 20px;
}

#input-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

select, textarea, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#download-btn {
    margin-top: 10px;
    display: none; /* Initially hidden */
}

#file-name { /* Display selected file name */
    margin-top: 5px;
}
.row a{
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
}

.qr-container{
    min-height: 350px;
}
.nav-active{
    background-color: rgb(235, 235, 235) !important;
}
.bg-color{
    background-color: var(--bs-tertiary-bg-rgb);
}

/* Sccaner css */
.html5-qrcode-element{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;

}
#qr-reader__scan_region canvas{
    height: 100% !important;
    width: 100% !important;
}
#html5-qrcode-anchor-scan-type-change{
    background: var(--bs-primary);
    color: #fff;
    padding: 5px 10px;
    text-decoration: none !important;
    font-weight: 400;
}

@media (max-width:1080px) {
    #qr-reader{
        width: 450px !important;
    }
    
}
@media (max-width:450px) {
    #qr-reader{
        width: 350px !important;
    }
    
}